# Dados

Estrutura dos dados: (parte mais densa tecnicamente)
* importar os dados com o pacote pandas (3 bases de dados diferentes)
* incorporar as 3 bases de dados em uma tabela só 
* aprimorar a organização da tabela 
* pegar dados (primeiro os obrigatórios) da tabela
* apresentar eles de forma informativa (talvez gráficos)

In [18]:
import pandas as pd 

#não importei do kaggle, não consegui e não sei se dá pra abrir em qualquer pc sem ter nada instalado

url="https://github.com/talissonmeira/WTH/blob/main/WtoData.csv?raw=true"

df_wt = pd.read_csv(url,encoding='latin-1')

C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\1565849603.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wt = pd.read_csv(url,encoding='latin-1')

Os dados foram importados de um repositório público que eu criei no GitHub.

In [19]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns',25)
df_wt.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,126.432
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,85.260
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,138.571
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,104.676
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,101.862

In [44]:
url="https://raw.githubusercontent.com/talissonmeira/WTH/main/GDP_percuntry.csv"

df_gdp = pd.read_csv(url,sep=',',error_bad_lines=False,engine='python')

C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\1353788746.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_gdp = pd.read_csv(url,sep=',',error_bad_lines=False,engine='python')
Skipping line 1: ',' expected after '"'

In [40]:
df_gdp

    Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021",
0    Aruba,"ABW","GDP (current US$)","NY.GDP.MKTP.C...
1    Africa Eastern and Southern,"AFE","GDP (curren...
2    Afghanistan,"AFG","GDP (current US$)","NY.GDP....
3    Africa Western and Central,"AFW","GDP (current...
4    Angola,"AGO","GDP (current US$)","NY.GDP.MKTP....
..                                                 ...
261  Kosovo,"XKX","GDP (current US$)","NY.GDP.MKTP....
262  Yemen, Rep.,"YEM","GDP (current US$)","NY.GDP....
263  South Africa,"ZAF","GDP (current US$)","NY.GDP...
264  Zambia,"ZMB","GDP (current US$)","NY.GDP.MKTP....
265  Zimbabwe,"ZWE","GDP (current US$)","NY.GDP.MKT...

[266 rows x 1 columns]