# Dados

Estrutura dos dados: (parte mais densa tecnicamente)
* importar os dados com o pacote pandas (3 bases de dados diferentes)
* incorporar as 3 bases de dados em uma tabela só 
* aprimorar a organização da tabela 
* pegar dados (primeiro os obrigatórios) da tabela
* apresentar eles de forma informativa (talvez gráficos)

In [303]:
import pandas as pd 

#não importei do kaggle, não consegui e não sei se dá pra abrir em qualquer pc sem ter nada instalado

url="https://github.com/talissonmeira/WTH/blob/main/WtoData.csv?raw=true"

df_wt = pd.read_csv(url,encoding='latin-1',low_memory=False)

Os dados foram importados de um repositório público que eu criei no GitHub.

In [59]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns',25)
df_wt.head()
#dados de trading 2021-2022 que vai precisar agregar em grupos e somar os dados (todos de importação)

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,126.432
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,85.260
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,138.571
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,104.676
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,101.862

In [79]:
df_wt['Partner Economy'].value_counts()
#só pra ter uma ideia do que são os dados que estamos tratando

World                                             80302
European Union                                      516
Extra EU Trade                                      472
Extra Euro Area (19) Trade                          302
France                                              281
Germany                                             281
Netherlands                                         272
China                                               272
Chinese Taipei                                      271
Singapore                                           270
Japan                                               269
Italy                                               268
Australia                                           267
India                                               258
Thailand                                            254
Indonesia                                           254
New Zealand                                         253
Korea, Republic of                                  251
Canada                                              249
Mexico                                              245
Israel                                              244
Hong Kong, China                                    244
Spain                                               243
Portugal                                            241
Austria                                             241
Switzerland                                         240
Brazil                                              239
Ireland                                             238
Philippines                                         236
Saudi Arabia, Kingdom of                            234
Belgium                                             233
Norway                                              231
Sweden                                              231
Poland                                              228
Denmark                                             222
Romania                                             221
Türkiye                                             219
Luxembourg                                          219
Malaysia                                            217
Finland                                             216
Russian Federation                                  215
Morocco                                             212
Venezuela, Bolivarian Republic of                   212
Croatia                                             211
Argentina                                           209
Lithuania                                           209
South Africa                                        208
Greece                                              208
Colombia                                            202
Chile                                               201
Czech Republic                                      197
Bulgaria                                            196
Latvia                                              195
Slovak Republic                                     195
Cyprus                                              193
Hungary                                             192
Slovenia                                            188
Malta                                               186
Estonia                                             184
United Kingdom                                      183
Euro Area (19)                                      175
Brunei Darussalam                                   144
Peru                                                143
Viet Nam                                            140
Panama                                              134
Bahrain, Kingdom of                                 133
El Salvador                                         132
Nigeria                                             129
Jordan                                              126
Oman                                                124
Guatemala                                           123
Costa Rica                                          122
Dominican Republic                                  121
Bermuda                                             119
Honduras                                            119
Nicaragua                                           116
United States of America                            116
Pakistan                                            109
European Union (28)                                  96
Montenegro                                           90
Egypt                                                87
Iceland                                              80
Ukraine                                              80
Liechtenstein                                        77
Uruguay                                              77
Iran                                                 76
Albania                                              75
Belarus                                              74
Serbia                                               63
Association of Southeast Asian Nations (ASEAN)       24
Name: Partner Economy, dtype: int64

In [360]:
url2="https://raw.githubusercontent.com/talissonmeira/WTH/main/gdp_per_c.csv"

df_gdp = pd.read_csv(url2)

In [357]:
df_gdp
#dados do pib de cada país, já estão agregados. tanto aqui quanto nos outros é bom que a gente tire
#países com população muito pequena
#ano 2021

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,3.223912e+10,3.351455e+10,...,9.644185e+11,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,1.442604e+10,...,6.709830e+11,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.094365e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,...,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10,NaN

In [75]:
url3='https://github.com/talissonmeira/WTH/blob/main/HDR21-22_Statistical_Annex_HDI_Trends_Table.xlsx?raw=true'
df_hdi = pd.read_excel(url3)

In [243]:
df_hdi.head(150)
#dados de uma tabela do excel, por isso muitos espaços nulos 
# ano de 2021
#tirado do Human Delepment Reports da UNDP (united nations development programme)

,Back,"Table 2. Human Development Index trends, 1990-2021",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Change in HDI rank,NaN,Average annual HDI growth,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,(%),NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,1990,NaN,2000,NaN,2010,NaN,2015,NaN,2018,NaN,...,NaN,2021,NaN,2015-2021,a,1990-2000,NaN,2000-2010,NaN,2010-2021,NaN,1990-2021
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,139,Namibia,0.579,NaN,0.546,NaN,0.585,NaN,0.628,NaN,0.636,NaN,...,NaN,0.615,NaN,-7,NaN,-0.585117,NaN,0.692314,NaN,0.455675,NaN,0.194769
146,140,Lao People's Democratic Republic,0.405,NaN,0.47,NaN,0.551,NaN,0.599,NaN,0.607,NaN,...,NaN,0.607,NaN,1,NaN,1.499589,NaN,1.602729,NaN,0.883828,NaN,1.313852
147,140,Timor-Leste,..,NaN,..,NaN,0.619,NaN,0.614,NaN,0.605,NaN,...,NaN,0.607,NaN,-4,NaN,..,NaN,..,NaN,-0.17781,NaN,..
148,140,Vanuatu,..,NaN,..,NaN,0.591,NaN,0.595,NaN,0.603,NaN,...,NaN,0.607,NaN,3,NaN,..,NaN,..,NaN,0.243139,NaN,..
149,143,Nepal,0.399,NaN,0.467,NaN,0.543,NaN,0.579,NaN,0.601,NaN,...,NaN,0.602,NaN,4,NaN,1.586126,NaN,1.519225,NaN,0.942121,NaN,1.335602

In [149]:
columns_to_keep = ['Table 2. Human Development Index trends, 1990-2021', 'Unnamed: 16']
df_hdi2 = df_hdi[columns_to_keep]

df_hdi2.head()

  Table 2. Human Development Index trends, 1990-2021 Unnamed: 16
0                                                NaN         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                            Country        2021
4                        VERY HIGH HUMAN DEVELOPMENT         NaN

a de se notar que há vários problemas na tabela, mas como iremos usar apenas os dados de 2021, não há problemas nisso.
daqui dá (e tem que) pegar vários detalhes da tabela (cabe gráficos)

In [97]:
df_wt['Indicator'].value_counts()
#como só precisamos dos dados de exp total para entender a proporção de produção:
#os dados que nos servem são Total merchandise exports  (usar quarterly)

Commercial services exports by sector and partner  annual                17661
Commercial services imports by sector and partner  annual                15822
Commercial services exports of selected economies  monthly               10714
Commercial services imports of selected economies  monthly               10698
Commercial services imports by main sector  quarterly                     9507
Commercial services exports by main sector  quarterly                     9428
Commercial services exports of selected economies (growth)  monthly       6417
Commercial services imports of selected economies (growth)  monthly       6411
Total merchandise exports - monthly                                        1460
Total merchandise imports - monthly                                        1460
Merchandise export volume indices, not seasonally adjusted - quarterly      714
Merchandise import volume indices, not seasonally adjusted - quarterly      714
Total merchandise exports - quarterly                                       630
Total merchandise imports - quarterly                                       624
Merchandise import volume indices, seasonally adjusted - quarterly          366
Merchandise export volume indices, seasonally adjusted - quarterly          366
Merchandise import volume chained indices - annual                          270
Merchandise import volume fixed-base indices - annual                       270
Merchandise import volume change - annual                                   270
Merchandise export volume fixed-base indices - annual                       268
Merchandise export volume chained indices - annual                          268
Merchandise export volume change - annual                                   266
Merchandise imports by product group  annual                               264
Merchandise exports by product group  annual                               264
Merchandise import unit value chained indices - annual                      256
Merchandise import unit value fixed-base indices - annual                   256
Merchandise export unit value fixed-base indices - annual                   255
Merchandise export unit value chained indices - annual                      255
Merchandise import value chained indices - annual                           255
Merchandise import value fixed-base indices - annual                        255
Merchandise export value chained indices - annual                           254
Merchandise export value fixed-base indices - annual                        254
Export price indices of manufactured goods - monthly                        126
Export price changes of manufactured goods - monthly                        126
Import price changes of manufactured goods - monthly                        126
Import price indices of manufactured goods - monthly                        114
Name: Indicator, dtype: int64

In [287]:
df_wt2 = df_wt[df_wt['Indicator'].isin(['Total merchandise exports - quarterly'])]
df_wt2.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
10376,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,4.994757e+06
10377,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,5.966823e+06
10378,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,6.330315e+06
10379,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.429400e+06
10380,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.543877e+06

In [288]:
#agora a gente precisa filtrar os dados pra apenas 2021 e apenas de economias nacionais
#exluir 2022 e exluir 'world' 'europe' 'asia'
df_wt2 = df_wt2[df_wt2['Year'].isin([2021])]
df_wt2.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
10376,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,4.994757e+06
10379,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.429400e+06
10380,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.543877e+06
10381,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,6.051321e+06
10382,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,7.824484e+02

In [289]:
#agora pra excluir economias que não são países específicos:
#usar o Reporting Economy ISO3A Code	 que é nulo quando não é de país
#retirar a união europeia que é a única com código específico

df_wt2 = df_wt2.dropna(subset=['Reporting Economy ISO3A Code'])
df_wt2= df_wt2[~(df_wt2['Reporting Economy ISO3A Code']=='EEC')]
df_wt2.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
10382,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,782.448395
10385,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,945.190579
10386,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,860.588861
10387,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,970.815099
10389,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,E,Estimate,NaN,6800.000000

In [290]:
df_wt2['Reporting Economy ISO3A Code'].value_counts()

ALB    4
MAR    4
PHL    4
PER    4
PRY    4
PAN    4
PAK    4
NOR    4
NGA    4
NZL    4
NLD    4
MDA    4
PRT    4
MEX    4
MUS    4
MLT    4
MYS    4
LUX    4
LTU    4
LVA    4
LBN    4
KGZ    4
POL    4
ROM    4
KOR    4
TUN    4
VEN    4
URY    4
USA    4
TZA    4
GBR    4
EGY    4
MKD    4
UKR    4
TUR    4
THA    4
RUS    4
CHE    4
SWE    4
ESP    4
ZAF    4
SVN    4
VNM    4
SVK    4
SGP    4
SAU    4
KWT    4
KEN    4
DZA    4
BLR    4
CYP    4
HRV    4
CRI    4
COL    4
CHT    4
CHN    4
CHL    4
LKA    4
CAN    4
BGR    4
DNK    4
BRA    4
BOL    4
BEL    4
ARM    4
BGD    4
BHR    4
AUT    4
AUS    4
ARG    4
CZE    4
DOM    4
JOR    4
ISL    4
KAZ    4
JPN    4
ITA    4
ISR    4
IRL    4
IRQ    4
IRN    4
IDN    4
IND    4
HUN    4
ECU    4
HKG    4
HND    4
GTM    4
GRC    4
DEU    4
FRA    4
FIN    4
EST    4
SLV    4
SRB    4
Name: Reporting Economy ISO3A Code, dtype: int64

In [292]:
#agora é hora de eliminar as colunas irrelevantes para a análise
keep=['Indicator','Reporting Economy ISO3A Code','Reporting Economy','Period Code','Unit','Value']
df_wt3 = df_wt2[keep].reset_index(drop=True)
df_wt3

,Indicator,Reporting Economy ISO3A Code,Reporting Economy,Period Code,Unit,Value
0,Total merchandise exports - quarterly,ALB,Albania,Q1,Million US dollar,782.448395
1,Total merchandise exports - quarterly,ALB,Albania,Q2,Million US dollar,945.190579
2,Total merchandise exports - quarterly,ALB,Albania,Q3,Million US dollar,860.588861
3,Total merchandise exports - quarterly,ALB,Albania,Q4,Million US dollar,970.815099
4,Total merchandise exports - quarterly,DZA,Algeria,Q1,Million US dollar,6800.000000
...,...,...,...,...,...,...
375,Total merchandise exports - quarterly,VEN,"Venezuela, Bolivarian Republic of",Q4,Million US dollar,1020.000000
376,Total merchandise exports - quarterly,SRB,Serbia,Q1,Million US dollar,5837.612652
377,Total merchandise exports - quarterly,SRB,Serbia,Q2,Million US dollar,6303.553131
378,Total merchandise exports - quarterly,SRB,Serbia,Q3,Million US dollar,6563.620213
379,Total merchandise exports - quarterly,SRB,Serbia,Q4,Million US dollar,6858.740939

In [293]:
#agrupando tudo e transformando os valores quaterly em anual
#usei o nome inteiro do país porque é assim que ta nas outras tabelas
df_wt4=df_wt3.groupby(['Reporting Economy','Indicator'],as_index=False)['Value'].sum()
#aqui tem que trocar o nome dos total ... quarterly pra só total exports
df_wt4.head(100)

,Reporting Economy,Indicator,Value
0,Albania,Total merchandise exports - quarterly,3.559043e+03
1,Algeria,Total merchandise exports - quarterly,3.710000e+04
2,Argentina,Total merchandise exports - quarterly,7.793500e+04
3,Armenia,Total merchandise exports - quarterly,3.022500e+03
4,Australia,Total merchandise exports - quarterly,3.448645e+05
5,Austria,Total merchandise exports - quarterly,2.028061e+05
6,"Bahrain, Kingdom of",Total merchandise exports - quarterly,2.236941e+04
7,Bangladesh,Total merchandise exports - quarterly,4.422341e+04
8,Belarus,Total merchandise exports - quarterly,3.976228e+04
9,Belgium,Total merchandise exports - quarterly,5.452835e+05
10,"Bolivia, Plurinational State of",Total merchandise exports - quarterly,1.103001e+04
11,Brazil,Total merchandise exports - quarterly,2.808146e+05
12,Bulgaria,Total merchandise exports - quarterly,4.101767e+04
13,Canada,Total merchandise exports - quarterly,5.076146e+05
14,Chile,Total merchandise exports - quarterly,9.467700e+04
15,China,Total merchandise exports - quarterly,3.363755e+06
16,Chinese Taipei,Total merchandise exports - quarterly,4.476926e+05
17,Colombia,Total merchandise exports - quarterly,4.028746e+04
18,Costa Rica,Total merchandise exports - quarterly,1.549359e+04
19,Croatia,Total merchandise exports - quarterly,2.281214e+04
20,Cyprus,Total merchandise exports - quarterly,3.786553e+03
21,Czech Republic,Total merchandise exports - quarterly,2.264160e+05
22,Denmark,Total merchandise exports - quarterly,1.259447e+05
23,Dominican Republic,Total merchandise exports - quarterly,1.246200e+04
24,Ecuador,Total merchandise exports - quarterly,2.669920e+04
25,Egypt,Total merchandise exports - quarterly,4.362621e+04
26,El Salvador,Total merchandise exports - quarterly,6.628750e+03
27,Estonia,Total merchandise exports - quarterly,2.151787e+04
28,Finland,Total merchandise exports - quarterly,8.197227e+04
29,France,Total merchandise exports - quarterly,5.847676e+05
30,Germany,Total merchandise exports - quarterly,1.631931e+06
31,Greece,Total merchandise exports - quarterly,4.718673e+04
32,Guatemala,Total merchandise exports - quarterly,1.375274e+04
33,Honduras,Total merchandise exports - quarterly,1.021580e+04
34,"Hong Kong, China",Total merchandise exports - quarterly,6.699031e+05
35,Hungary,Total merchandise exports - quarterly,1.419206e+05
36,Iceland,Total merchandise exports - quarterly,5.986791e+03
37,India,Total merchandise exports - quarterly,3.954256e+05
38,Indonesia,Total merchandise exports - quarterly,2.298496e+05
39,Iran,Total merchandise exports - quarterly,7.164562e+04
40,Iraq,Total merchandise exports - quarterly,8.629830e+04
41,Ireland,Total merchandise exports - quarterly,1.905184e+05
42,Israel,Total merchandise exports - quarterly,6.015877e+04
43,Italy,Total merchandise exports - quarterly,6.102844e+05
44,Japan,Total merchandise exports - quarterly,7.560317e+05
45,Jordan,Total merchandise exports - quarterly,9.357546e+03
46,Kazakhstan,Total merchandise exports - quarterly,6.062470e+04
47,Kenya,Total merchandise exports - quarterly,6.739000e+03
48,"Korea, Republic of",Total merchandise exports - quarterly,6.444004e+05
49,"Kuwait, the State of",Total merchandise exports - quarterly,6.312779e+04
50,Kyrgyz Republic,Total merchandise exports - quarterly,2.393400e+03
51,Latvia,Total merchandise exports - quarterly,2.082257e+04
52,Lebanese Republic,Total merchandise exports - quarterly,4.590084e+03
53,Lithuania,Total merchandise exports - quarterly,4.082753e+04
54,Luxembourg,Total merchandise exports - quarterly,1.662349e+04
55,Malaysia,Total merchandise exports - quarterly,2.990281e+05
56,Malta,Total merchandise exports - quarterly,3.110684e+03
57,Mauritius,Total merchandise exports - quarterly,1.964300e+03
58,Mexico,Total merchandise exports - quarterly,4.947645e+05
59,"Moldova, Republic of",Total merchandise exports - quarterly,3.144400e+03
60,Morocco,Total merchandise exports - quarterly,3.584307e+04
61,Netherlands,Total merchandise exports - quarterly,8.365118e+05
62,New Zealand,Total merchandise exports - quarterly,4.475780e+04
63,Nigeria,Total merchandise exports - quarterly,4.693239e+04
64,North Macedonia,Total merchandise exports - quarterly,8.185664e+03
65,Norway,Total merchandise exports - quarterly,1.601058e+05
66,Pakistan,Total merchandise exports - quarterly,2.831900e+04
67,Panama,Total merchandise exports - quarterly,3.558000e+03
68,Paraguay,Total merchandise exports - quarterly,1.054730e+04
69,Peru,Total merchandise exports - quarterly,5.958314e+04
70,Philippines,Total merchandise exports - quarterly,7.461757e+04
71,Poland,Total merchandise exports - quarterly,3.379084e+05
72,Portugal,Total merchandise exports - quarterly,7.518104e+04
73,Romania,Total merchandise exports - quarterly,8.738432e+04
74,Russian Federation,Total merchandise exports - quarterly,4.938200e+05
75,"Saudi Arabia, Kingdom of",Total merchandise exports - quarterly,2.602200e+05
76,Serbia,Total merchandise exports - quarterly,2.556353e+04
77,Singapore,Total merchandise exports - quarterly,4.573573e+05
78,Slovak Republic,Total merchandise exports - quarterly,1.035717e+05
79,Slovenia,Total merchandise exports - quarterly,5.735194e+04
80,South Africa,Total merchandise exports - quarterly,1.235716e+05
81,Spain,Total merchandise exports - quarterly,3.823612e+05
82,Sri Lanka,Total merchandise exports - quarterly,1.249860e+04
83,Sweden,Total merchandise exports - quarterly,1.897341e+05
84,Switzerland,Total merchandise exports - quarterly,3.801937e+05
85,Tanzania,Total merchandise exports - quarterly,6.390541e+03
86,Thailand,Total merchandise exports - quarterly,2.720061e+05
87,Tunisia,Total merchandise exports - quarterly,1.668891e+04
88,Türkiye,Total merchandise exports - quarterly,2.252145e+05
89,Ukraine,Total merchandise exports - quarterly,6.807500e+04
90,United Kingdom,Total merchandise exports - quarterly,4.708810e+05
91,United States of America,Total merchandise exports - quarterly,1.754300e+06
92,Uruguay,Total merchandise exports - quarterly,9.540698e+03
93,"Venezuela, Bolivarian Republic of",Total merchandise exports - quarterly,3.575000e+03
94,Viet Nam,Total merchandise exports - quarterly,3.359293e+05

In [294]:
#merging com a tabela de IDH
#trocando o nome da coluna na tabela de IDH pra pbater o merge
df_hdi2=df_hdi2.rename(columns={'Table 2. Human Development Index trends, 1990-2021':'Reporting Economy'})
df_wt_hdi=pd.merge(df_wt4,df_hdi2,how='left',on=['Reporting Economy'])
df_wt_hdi=df_wt_hdi.rename(columns={'Unnamed: 16':'HDI'})
df_wt_hdi.head(100)

,Reporting Economy,Indicator,Value,HDI
0,Albania,Total merchandise exports - quarterly,3.559043e+03,0.796
1,Algeria,Total merchandise exports - quarterly,3.710000e+04,0.745
2,Argentina,Total merchandise exports - quarterly,7.793500e+04,0.842
3,Armenia,Total merchandise exports - quarterly,3.022500e+03,0.759
4,Australia,Total merchandise exports - quarterly,3.448645e+05,0.951
5,Austria,Total merchandise exports - quarterly,2.028061e+05,0.916
6,"Bahrain, Kingdom of",Total merchandise exports - quarterly,2.236941e+04,NaN
7,Bangladesh,Total merchandise exports - quarterly,4.422341e+04,0.661
8,Belarus,Total merchandise exports - quarterly,3.976228e+04,0.808
9,Belgium,Total merchandise exports - quarterly,5.452835e+05,0.937
10,"Bolivia, Plurinational State of",Total merchandise exports - quarterly,1.103001e+04,NaN
11,Brazil,Total merchandise exports - quarterly,2.808146e+05,0.754
12,Bulgaria,Total merchandise exports - quarterly,4.101767e+04,0.795
13,Canada,Total merchandise exports - quarterly,5.076146e+05,0.936
14,Chile,Total merchandise exports - quarterly,9.467700e+04,0.855
15,China,Total merchandise exports - quarterly,3.363755e+06,0.768
16,Chinese Taipei,Total merchandise exports - quarterly,4.476926e+05,NaN
17,Colombia,Total merchandise exports - quarterly,4.028746e+04,0.752
18,Costa Rica,Total merchandise exports - quarterly,1.549359e+04,0.809
19,Croatia,Total merchandise exports - quarterly,2.281214e+04,0.858
20,Cyprus,Total merchandise exports - quarterly,3.786553e+03,0.896
21,Czech Republic,Total merchandise exports - quarterly,2.264160e+05,NaN
22,Denmark,Total merchandise exports - quarterly,1.259447e+05,0.948
23,Dominican Republic,Total merchandise exports - quarterly,1.246200e+04,0.767
24,Ecuador,Total merchandise exports - quarterly,2.669920e+04,0.74
25,Egypt,Total merchandise exports - quarterly,4.362621e+04,0.731
26,El Salvador,Total merchandise exports - quarterly,6.628750e+03,0.675
27,Estonia,Total merchandise exports - quarterly,2.151787e+04,0.89
28,Finland,Total merchandise exports - quarterly,8.197227e+04,0.94
29,France,Total merchandise exports - quarterly,5.847676e+05,0.903
30,Germany,Total merchandise exports - quarterly,1.631931e+06,0.942
31,Greece,Total merchandise exports - quarterly,4.718673e+04,0.887
32,Guatemala,Total merchandise exports - quarterly,1.375274e+04,0.627
33,Honduras,Total merchandise exports - quarterly,1.021580e+04,0.621
34,"Hong Kong, China",Total merchandise exports - quarterly,6.699031e+05,NaN
35,Hungary,Total merchandise exports - quarterly,1.419206e+05,0.846
36,Iceland,Total merchandise exports - quarterly,5.986791e+03,0.959
37,India,Total merchandise exports - quarterly,3.954256e+05,0.633
38,Indonesia,Total merchandise exports - quarterly,2.298496e+05,0.705
39,Iran,Total merchandise exports - quarterly,7.164562e+04,NaN
40,Iraq,Total merchandise exports - quarterly,8.629830e+04,0.686
41,Ireland,Total merchandise exports - quarterly,1.905184e+05,0.945
42,Israel,Total merchandise exports - quarterly,6.015877e+04,0.919
43,Italy,Total merchandise exports - quarterly,6.102844e+05,0.895
44,Japan,Total merchandise exports - quarterly,7.560317e+05,0.925
45,Jordan,Total merchandise exports - quarterly,9.357546e+03,0.72
46,Kazakhstan,Total merchandise exports - quarterly,6.062470e+04,0.811
47,Kenya,Total merchandise exports - quarterly,6.739000e+03,0.575
48,"Korea, Republic of",Total merchandise exports - quarterly,6.444004e+05,NaN
49,"Kuwait, the State of",Total merchandise exports - quarterly,6.312779e+04,NaN
50,Kyrgyz Republic,Total merchandise exports - quarterly,2.393400e+03,NaN
51,Latvia,Total merchandise exports - quarterly,2.082257e+04,0.863
52,Lebanese Republic,Total merchandise exports - quarterly,4.590084e+03,NaN
53,Lithuania,Total merchandise exports - quarterly,4.082753e+04,0.875
54,Luxembourg,Total merchandise exports - quarterly,1.662349e+04,0.93
55,Malaysia,Total merchandise exports - quarterly,2.990281e+05,0.803
56,Malta,Total merchandise exports - quarterly,3.110684e+03,0.918
57,Mauritius,Total merchandise exports - quarterly,1.964300e+03,0.802
58,Mexico,Total merchandise exports - quarterly,4.947645e+05,0.758
59,"Moldova, Republic of",Total merchandise exports - quarterly,3.144400e+03,NaN
60,Morocco,Total merchandise exports - quarterly,3.584307e+04,0.683
61,Netherlands,Total merchandise exports - quarterly,8.365118e+05,0.941
62,New Zealand,Total merchandise exports - quarterly,4.475780e+04,0.937
63,Nigeria,Total merchandise exports - quarterly,4.693239e+04,0.535
64,North Macedonia,Total merchandise exports - quarterly,8.185664e+03,0.77
65,Norway,Total merchandise exports - quarterly,1.601058e+05,0.961
66,Pakistan,Total merchandise exports - quarterly,2.831900e+04,0.544
67,Panama,Total merchandise exports - quarterly,3.558000e+03,0.805
68,Paraguay,Total merchandise exports - quarterly,1.054730e+04,0.717
69,Peru,Total merchandise exports - quarterly,5.958314e+04,0.762
70,Philippines,Total merchandise exports - quarterly,7.461757e+04,0.699
71,Poland,Total merchandise exports - quarterly,3.379084e+05,0.876
72,Portugal,Total merchandise exports - quarterly,7.518104e+04,0.866
73,Romania,Total merchandise exports - quarterly,8.738432e+04,0.821
74,Russian Federation,Total merchandise exports - quarterly,4.938200e+05,0.822
75,"Saudi Arabia, Kingdom of",Total merchandise exports - quarterly,2.602200e+05,NaN
76,Serbia,Total merchandise exports - quarterly,2.556353e+04,0.802
77,Singapore,Total merchandise exports - quarterly,4.573573e+05,0.939
78,Slovak Republic,Total merchandise exports - quarterly,1.035717e+05,NaN
79,Slovenia,Total merchandise exports - quarterly,5.735194e+04,0.918
80,South Africa,Total merchandise exports - quarterly,1.235716e+05,0.713
81,Spain,Total merchandise exports - quarterly,3.823612e+05,0.905
82,Sri Lanka,Total merchandise exports - quarterly,1.249860e+04,0.782
83,Sweden,Total merchandise exports - quarterly,1.897341e+05,0.947
84,Switzerland,Total merchandise exports - quarterly,3.801937e+05,0.962
85,Tanzania,Total merchandise exports - quarterly,6.390541e+03,NaN
86,Thailand,Total merchandise exports - quarterly,2.720061e+05,0.8
87,Tunisia,Total merchandise exports - quarterly,1.668891e+04,0.731
88,Türkiye,Total merchandise exports - quarterly,2.252145e+05,0.838
89,Ukraine,Total merchandise exports - quarterly,6.807500e+04,0.773
90,United Kingdom,Total merchandise exports - quarterly,4.708810e+05,0.929
91,United States of America,Total merchandise exports - quarterly,1.754300e+06,NaN
92,Uruguay,Total merchandise exports - quarterly,9.540698e+03,0.809
93,"Venezuela, Bolivarian Republic of",Total merchandise exports - quarterly,3.575000e+03,NaN
94,Viet Nam,Total merchandise exports - quarterly,3.359293e+05,0.703

In [361]:
keep2=['Country Name','2021']
df_gdp=df_gdp[keep2]
df_gdp.rename(columns={'Country Name':'Reporting Economy'},inplace=True)

In [363]:
df_final=pd.merge(df_wt_hdi,df_gdp,how='left',on=['Reporting Economy'])
df_final.head(100)

,Reporting Economy,Indicator,Value,HDI,2021
0,Albania,Total merchandise exports - quarterly,3.559043e+03,0.796,1.826004e+10
1,Algeria,Total merchandise exports - quarterly,3.710000e+04,0.745,1.679831e+11
2,Argentina,Total merchandise exports - quarterly,7.793500e+04,0.842,4.914927e+11
3,Armenia,Total merchandise exports - quarterly,3.022500e+03,0.759,1.386118e+10
4,Australia,Total merchandise exports - quarterly,3.448645e+05,0.951,1.542660e+12
5,Austria,Total merchandise exports - quarterly,2.028061e+05,0.916,4.770825e+11
6,Bangladesh,Total merchandise exports - quarterly,4.422341e+04,0.661,4.162649e+11
7,Belarus,Total merchandise exports - quarterly,3.976228e+04,0.808,6.821882e+10
8,Belgium,Total merchandise exports - quarterly,5.452835e+05,0.937,5.998790e+11
9,Brazil,Total merchandise exports - quarterly,2.808146e+05,0.754,1.608981e+12
10,Bulgaria,Total merchandise exports - quarterly,4.101767e+04,0.795,8.027112e+10
11,Canada,Total merchandise exports - quarterly,5.076146e+05,0.936,1.990762e+12
12,Chile,Total merchandise exports - quarterly,9.467700e+04,0.855,3.170585e+11
13,China,Total merchandise exports - quarterly,3.363755e+06,0.768,1.773406e+13
14,Colombia,Total merchandise exports - quarterly,4.028746e+04,0.752,3.143225e+11
15,Costa Rica,Total merchandise exports - quarterly,1.549359e+04,0.809,6.428244e+10
16,Croatia,Total merchandise exports - quarterly,2.281214e+04,0.858,6.783779e+10
17,Cyprus,Total merchandise exports - quarterly,3.786553e+03,0.896,2.771934e+10
18,Denmark,Total merchandise exports - quarterly,1.259447e+05,0.948,3.971043e+11
19,Dominican Republic,Total merchandise exports - quarterly,1.246200e+04,0.767,9.424345e+10
20,Ecuador,Total merchandise exports - quarterly,2.669920e+04,0.74,1.061659e+11
21,Egypt,Total merchandise exports - quarterly,4.362621e+04,0.731,NaN
22,El Salvador,Total merchandise exports - quarterly,6.628750e+03,0.675,2.873694e+10
23,Estonia,Total merchandise exports - quarterly,2.151787e+04,0.89,3.626292e+10
24,Finland,Total merchandise exports - quarterly,8.197227e+04,0.94,2.991552e+11
25,France,Total merchandise exports - quarterly,5.847676e+05,0.903,2.937473e+12
26,Germany,Total merchandise exports - quarterly,1.631931e+06,0.942,4.223116e+12
27,Greece,Total merchandise exports - quarterly,4.718673e+04,0.887,2.162406e+11
28,Guatemala,Total merchandise exports - quarterly,1.375274e+04,0.627,8.598632e+10
29,Honduras,Total merchandise exports - quarterly,1.021580e+04,0.621,2.848867e+10
30,Hungary,Total merchandise exports - quarterly,1.419206e+05,0.846,1.822805e+11
31,Iceland,Total merchandise exports - quarterly,5.986791e+03,0.959,2.545893e+10
32,India,Total merchandise exports - quarterly,3.954256e+05,0.633,3.173398e+12
33,Indonesia,Total merchandise exports - quarterly,2.298496e+05,0.705,1.186093e+12
34,Iraq,Total merchandise exports - quarterly,8.629830e+04,0.686,2.078893e+11
35,Ireland,Total merchandise exports - quarterly,1.905184e+05,0.945,4.985596e+11
36,Israel,Total merchandise exports - quarterly,6.015877e+04,0.919,4.815913e+11
37,Italy,Total merchandise exports - quarterly,6.102844e+05,0.895,2.099880e+12
38,Japan,Total merchandise exports - quarterly,7.560317e+05,0.925,4.937422e+12
39,Jordan,Total merchandise exports - quarterly,9.357546e+03,0.72,4.524366e+10
40,Kazakhstan,Total merchandise exports - quarterly,6.062470e+04,0.811,1.908143e+11
41,Kenya,Total merchandise exports - quarterly,6.739000e+03,0.575,1.103471e+11
42,Latvia,Total merchandise exports - quarterly,2.082257e+04,0.863,3.887255e+10
43,Lithuania,Total merchandise exports - quarterly,4.082753e+04,0.875,6.550385e+10
44,Luxembourg,Total merchandise exports - quarterly,1.662349e+04,0.93,8.671080e+10
45,Malaysia,Total merchandise exports - quarterly,2.990281e+05,0.803,3.727014e+11
46,Malta,Total merchandise exports - quarterly,3.110684e+03,0.918,1.718973e+10
47,Mauritius,Total merchandise exports - quarterly,1.964300e+03,0.802,1.115666e+10
48,Mexico,Total merchandise exports - quarterly,4.947645e+05,0.758,1.293038e+12
49,Morocco,Total merchandise exports - quarterly,3.584307e+04,0.683,1.327253e+11
50,Netherlands,Total merchandise exports - quarterly,8.365118e+05,0.941,1.018007e+12
51,New Zealand,Total merchandise exports - quarterly,4.475780e+04,0.937,2.499915e+11
52,Nigeria,Total merchandise exports - quarterly,4.693239e+04,0.535,4.407770e+11
53,North Macedonia,Total merchandise exports - quarterly,8.185664e+03,0.77,1.387927e+10
54,Norway,Total merchandise exports - quarterly,1.601058e+05,0.961,4.824370e+11
55,Pakistan,Total merchandise exports - quarterly,2.831900e+04,0.544,3.463432e+11
56,Panama,Total merchandise exports - quarterly,3.558000e+03,0.805,6.360507e+10
57,Paraguay,Total merchandise exports - quarterly,1.054730e+04,0.717,3.898681e+10
58,Peru,Total merchandise exports - quarterly,5.958314e+04,0.762,2.232495e+11
59,Philippines,Total merchandise exports - quarterly,7.461757e+04,0.699,3.940864e+11
60,Poland,Total merchandise exports - quarterly,3.379084e+05,0.876,6.740483e+11
61,Portugal,Total merchandise exports - quarterly,7.518104e+04,0.866,2.498865e+11
62,Romania,Total merchandise exports - quarterly,8.738432e+04,0.821,2.840876e+11
63,Russian Federation,Total merchandise exports - quarterly,4.938200e+05,0.822,1.775800e+12
64,Serbia,Total merchandise exports - quarterly,2.556353e+04,0.802,6.306813e+10
65,Singapore,Total merchandise exports - quarterly,4.573573e+05,0.939,3.969869e+11
66,Slovenia,Total merchandise exports - quarterly,5.735194e+04,0.918,6.152633e+10
67,South Africa,Total merchandise exports - quarterly,1.235716e+05,0.713,4.199464e+11
68,Spain,Total merchandise exports - quarterly,3.823612e+05,0.905,1.425277e+12
69,Sri Lanka,Total merchandise exports - quarterly,1.249860e+04,0.782,8.451883e+10
70,Sweden,Total merchandise exports - quarterly,1.897341e+05,0.947,6.274379e+11
71,Switzerland,Total merchandise exports - quarterly,3.801937e+05,0.962,8.128669e+11
72,Thailand,Total merchandise exports - quarterly,2.720061e+05,0.8,5.059817e+11
73,Tunisia,Total merchandise exports - quarterly,1.668891e+04,0.731,4.684004e+10
74,Türkiye,Total merchandise exports - quarterly,2.252145e+05,0.838,NaN
75,Ukraine,Total merchandise exports - quarterly,6.807500e+04,0.773,2.000855e+11
76,United Kingdom,Total merchandise exports - quarterly,4.708810e+05,0.929,3.186860e+12
77,Uruguay,Total merchandise exports - quarterly,9.540698e+03,0.809,5.931955e+10
78,Viet Nam,Total merchandise exports - quarterly,3.359293e+05,0.703,NaN